<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 21.01.2019, 19:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Guys this is my first ever post</p>
        </div>

        <div>
            <p>published: 21.01.2019, 19:14</p>
            <h2><a href="">My second post</a></h2>
            <p>The djangogirls is really an awesome tutorial that teaches you various other stuffs other than the web development like I also learned to use git.Its a really fun course</p>
        </div>
    </body>
</html>